version: '3.8'
services:
  service-discovery:
    build: ./service-discovery
    ports:
      - "8761:8761"
  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - service-discovery
  auth-service:
    build: ./auth-service
    ports:
      - "8081:8081"
    depends_on:
      - service-discovery
      - db
  event-service:
    build: ./event-service
    ports:
      - "8082:8082"
    depends_on:
      - service-discovery
      - db
  participation-service:
    build: ./participation-service
    ports:
      - "8083:8083"
    depends_on:
      - service-discovery
      - db
  notification-service:
    build: ./notification-service
    ports:
      - "8084:8084"
    depends_on:
      - service-discovery
  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - api-gateway
  mailhog:
    image: mailhog/mailhog
    ports:
      - "1025:1025"
      - "8025:8025"
  chat-service:
    build: ./chat-service
    ports:
      - "8085:8085"
    depends_on:
      - service-discovery
  payment-service:
    build: ./payment-service
    ports:
      - "8086:8086"
    depends_on:
      - service-discovery
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"
