server:
  port: 8083
spring:
  application:
    name: participation-service
  datasource:
    url: jdbc:postgresql://db:5432/participationdb
    username: user
    password: pass
  jpa:
    hibernate:
      ddl-auto: update
eureka:
  client:
    service-url:
      defaultZone: http://service-discovery:8761/eureka/
